* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.ant-card{
    height: 100%;
    padding: 40px;
    overflow: auto;
    border: 0px;
    width: 100%;
}

.ant-spin-nested-loading,
.ant-spin-container{
    height: 100%;
}

.ant-tabs-nav{
    margin: 0 !important;
}

.public-DraftStyleDefault-block{
    margin: 0 !important;
}